
.container{
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand {
    font-size: 25px !important;;
    
    
  }
.navbar-nav{
    margin-left: 290px;
    font-size: 18px ;
    color: white !important;
}
